{% extends 'ifood/base.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block title_block %}
    Login
{% endblock %}

{% block body_block %}
            <style>
            .signup {
                position: relative;
                top: 25px;
                    
            }
            
            .jumbotron {
                position: relative;
                color: #333;
                bottom: 200px;
            }
            
            .username {
                position: relative;
                top: 30px;
                left: 100px;
            }
            
            .password {
                position: relative;
                left: 350px;
            }
            
            .btn-success {
                position: relative;
                left: 295px;
                top: 15px;
                
            }
            
            </style>
<body>
	<div class="container">
		<div class="jumbotron">
			<h1><center>Login here:</center></h1>
			<form id="login_form" method="post" action="{% url 'login' %}">
                   {% csrf_token %}
                <div class= 'username'>
                <label for="username"></label>
                <input type="text" name="username" placeholder="Your username">
                </div>
                <div class = 'password'>
                <label for="password"></label>
                <input type="password" name="password" placeholder="Your password">
                </div>
                <button type="submit" class="btn btn-success" value = "Login">Log in</button>
				{% if messages %}
						{% for message in messages %}
                        <div class="alert alert-danger" role="alert">
                            <strong><center>{{ message }}</center></strong>
                        </div>
						{% endfor %}
				{% endif %}
			</form>
            <div class = 'signup'>
            <center><h5>Not registered yet? Sign up <a href='{% url 'signup' %}'>here.</a></center>
            </div>
		</div>
	</div>
 </body>
{% endblock %}
