{% extends 'ifood/base.html' %}
{% load staticfiles %}

{% load crispy_forms_tags %}

{% block title_block %}
My Order
{% endblock %} 


{%block body_block %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
h1 {
  color: #000000;
  font-weight: 100;
  font-size: 40px;
  margin: 40px 0px 20px;
}

#clockdiv {
  font-family: sans-serif;
  color: #fff;
  display: inline-block;
  font-weight: 100;
  text-align: center;
  font-size: 30px;
}

#clockdiv > div {
  padding: 10px;
  border-radius: 3px;
  background: #008B8B;
  display: inline-block;
}

#clockdiv div > span {
  padding: 15px;
  border-radius: 3px;
  background: #5F9EA0;
  display: inline-block;
}

.smalltext {
  padding-top: 5px;
  font-size: 16px;
}

.icon-container {
    font-size: 50px;
}

.body {
    position: relative;
    top: -250px;
}
</style>
<div id="body">
    {% if cart|length > 0 %}
    Do you want to confirm ordering: </br>
    {% for item in cart %}
    {% with product=item.product  %}
    {{product.name}} x {{item.quantity}} </br>
    {% endwith %}
    {% endfor %}
    Total price: £{{ cart.get_total_price }}
    
    <form action="{% url "my-order" %}" method="post">
        {% csrf_token %}
    <button type="submit" class="btn btn-default" onclick="alertFunc()">Confirm this order.</button>
    <button type ="submit" onclick="alertFunc()"></button>
    </form>
    <a href ="/cart"><button type="button" class="btn cancel">No, take me back to my cart!</button></a>
    {% else %}
 -> This is where the clock is going to be </br>
    
  Nothing here! Maybe your order was already completed or you didn't order yet?
  <button><a href="{% url 'index' %}">Take me to the menus again!</button></a></br>
 <button><a href="/cart">Take me to the basket</button></a>

</div>
<script>

function alertFunc() {
    alert("Your order is being processed now! Thank you. Visit this page to see live time until your order is ready.")
}
</script>

{% endif %}
{% endblock %} 
