{% extends 'ifood/base.html' %}
{% load staticfiles %}

{% load crispy_forms_tags %}

{% block title_block %}
My Order
{% endblock %} 


{%block body_block %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
h1 {
  color: #000000;
  font-weight: 100;
  font-size: 40px;
  margin: 40px 0px 20px;
}

#clockdiv {
  font-family: sans-serif;
  color: #fff;
  display: inline-block;
  font-weight: 100;
  text-align: center;
  font-size: 30px;
}

#clockdiv > div {
  padding: 10px;
  border-radius: 3px;
  background: #008B8B;
  display: inline-block;
}

#clockdiv div > span {
  padding: 15px;
  border-radius: 3px;
  background: #5F9EA0;
  display: inline-block;
}

.smalltext {
  padding-top: 5px;
  font-size: 16px;
}

.icon-container {
    font-size: 50px;
}

.body {
    position: relative;
}
</style>
<div id="body">
    {% if cart|length > 0 %}
    Do you want to confirm ordering: </br>
    {% for item in cart %}
    {% with product=item.product  %}
    {{product.name}} x {{item.quantity}} </br>
    {% endwith %}
    {% endfor %}
    Total price: £{{ cart.get_total_price }}
    
    <form action="{% url "my-order" %}" method="post">
        {% csrf_token %}
    <button type="submit" class="btn btn-default" onclick="alertFunc()">Confirm this order.</button>
    </form>
    <a href ="/cart"><button type="button" class="btn cancel">No, take me back to my cart!</button></a>
    {% else %}
    <h2>Your current order:</h2>
    Order reference ID: {{current}}</br>
    Created: {{current.created}}</br>
    Delivery in: {{current.delivery}} mins
    <h2>Your order details:</h2>
    {% for item in order_items %}
    Dish: {{item.product.name}} £{{item.product.price}} x {{item.quantity}}</br>
    Total cost: £{{item.get_cost}} {% endfor %}</br>
    Time elapsing until delivery: <body>
        <div><span id="time">{{current.delivery}}</span> minutes!</div>
    </body></br>
  <button><a href="{% url 'index' %}">Take me to home page!</button></a></br>


</div>
<script>

function alertFunc() {
    alert("Your order is being processed now! Thank you. Visit this page to see live time until your order is ready.")
}

function startTimer(duration, display) {
    var timer = duration, minutes, seconds;
    setInterval(function () {
                minutes = parseInt(timer / 60, 10)
                seconds = parseInt(timer % 60, 10);
                
                minutes = minutes < 10 ? "0" + minutes : minutes;
                seconds = seconds < 10 ? "0" + seconds : seconds;
                
                display.textContent = minutes + ":" + seconds;
                
                if (--timer < 0) {
                timer = duration;
                }
                }, 1000);
}

window.onload = function () {
    var Minutes = 60 * {{current.delivery}},
    display = document.querySelector('#time');
    startTimer(Minutes, display);
};
                    
</script>

{% endif %}
{% endblock %} 
