{% extends "iFood/base.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block title_block %}
	Sign Up and Eat
{% endblock %}

{% block body_block %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" type="text/css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" type="text/css">
<link rel="stylesheet" href="https://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway:400,700"> 
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
<link rel="stylesheet" href="SimpleRestLoginStyle.css" type="text/css">
<style>
	.container {
		height: 100%;
		opacity: 0.8;
		border-radius: 8px;
		margin-bottom: 20px;
	}
	
	#signup img {
		margin: 10px 0;
	}
	
	#signup .center {
		text-align: center;
	}
	
	#signup .signup {
		max-width: 470px;
		margin: 35px auto;
	}
	
	#signup .signup-form {
		padding: 0px 7px;
	}
	
	#signup h1 {
		margin-bottom: 20px;
	}
	
	#signup input {
		height: 30px;
		width: 400px;
	}
	
	hr {
		width: 275px;
		border-top: 1px solid #f8f8f8;
		border-bottom: 1px solid rgba(0, 0, 0, 0.2);
		margin: 0 auto;
	}  
</style>
<body>
	<div id="signup" class="container">
		<div class="row-fluid">
        	<div class="span12">
            	<div class="signup well well-small">
                	<div class="center">
			        	<h1>Sign Up</h1>
			       	</div>
                	<form id="user_form" method="post" action="{% url 'signup' %}" enctype="multipart/form-data" class="signup-form">
               			<hr>
               			<div class="control-group">
							<div class="input-prepend">
		       					{% if registered %}
			        				<h4>Thank you for signing up!</h4>
			    				{% else %}
			    					<h4>Just fill out the form.</h4>
		                    	{% csrf_token %}
                    				{{user_form|crispy}}
		                	</div>
		            	</div>
               			<hr>
		           		<div class="control-group">
							<div class="input-prepend">
		                    	{{profile_form|crispy}}
		                    	<button type="submit" class="btn btn-primary btn-large btn-block">Sign me up!</button>
		                	</div>
		            	</div>
		        	</form>
	        		{% endif %}
	    		</div>
			</div>
		</div>
	</div>
</body>
{% endblock %}
