{% extends "iFood/base.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block title_block %}
Sign Up and Eat
{%endblock%}
{% block body_block %}
<html>
    <head>
        <style>
            
            * {box-sizing: border-box;}
            
            .jumbotron {
                position: relative;
                color: #333;
                bottom: 300px;
            }
        
        
            
        </style>
    </head>
</html>
	<div class="container">
	    <div class="jumbotron">
	        {% if registered %}
		        <h1>Thank you for registering!</h1>
		    {% else %}
		        <h1>Register Here</h1>
		        <h3>Just fill out the form.</h3>
                <div class = 'form'>
                <form id="user_form" method="post" action="{% url 'signup' %}"
                    16 enctype="multipart/form-data">
                    {% csrf_token %}
                    {{user_form|crispy}}
                    {{profile_form|crispy}}
                    <button type="submit" class="btn btn-success">Sign me up!</button>
                    </div>
		        </form>
	        {% endif %}
	    </div>
	</div>
{% endblock %}
