{% extends 'ifood/base.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block title_block %}
Account Details
{% endblock %} 


{%block body_block %}
	<body>
		<p>
		Hello : 
		<strong>{{ user.username }}</strong>
        Edit your user details here!
		</p>
        <p>
        This is your email address: {{user.email}}
        </p>
        <p>
        This is your full name: {{user.get_full_name}}
        </p>
        <p>
        This is your address: {{user.userprofile.address}}
        </p>
        <p>
        This is your facebook and twitter handle respectively {{user.userprofile.facebook}} {{user.userprofile.twitter}}
        </p>
        <form method="POST" action="{% url 'account' %}" class="" enctype="multipart/form-data">
            {% csrf_token %}
            {{form.as_p|crispy}}
            {{prof.as_p|crispy}}

            <input type="submit" name="" value="Edit and Save">
                {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                    <li class="{{ message.tags }}">
                        {{ message }}
                    </li>
                    {% endfor %}
                </ul>
                {% endif %}
            
        </form>
        
                
	</body>
{% endblock %} 
