{% extends 'ifood/base.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block title_block %}
	iFood Feedback
{% endblock %} 


{%block body_block %}
<html>
    <head>
        <style>
            
            .form {
                position:relative;
                top:-250px;
            }
        
        .alert-success{
            position:relative;
            top: -550px;
            height: 38px;
            border-radius: 5px;

        }
        
        
        </style>
    </head>
    
	<body>
        <form method="POST" action="{% url 'web-feedback' %}" class="form" enctype="multipart/form-data">
            <h3>
            Any comments? Thanks for leaving your remarks, each of them helps improve our website.
            </h3>
            {% csrf_token %}
            {{feedback_form|crispy}}
            <button type="submit" class="btn btn-success" onclick="alertFunc()">Submit your comment</button>
        </form>
    <script>
        function alertFunc() {
            alert("Thank you for your feedback!")
        }
    </script>
	</body>
</html>
{% endblock %} 
