{% extends 'ifood/base.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block title_block %}
	iFood Feedback
{% endblock %} 


{%block body_block %}
	<body>
        {% if registered %}
		<p>
			Give us some feedback!
		</p>
        <form method="POST" action="{% url 'web-feedback' %}" class="" enctype="multipart/form-data">
            {% csrf_token %}
            {{feedback_form|crispy}}
            <button type="submit" class="btn btn-success">Submit your comment</button>
                {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                    <li class="{{ message.tags }}">
                        {{ message }}
                    </li>
                    {% endfor %}
                </ul>
                {% endif %}
        </form>
        {% else %}
        <p> This page is restricted to registered users only.</p>
        <p> Why not sign up then? </p>
        <form action="/iFood/signup/">
            <input type="submit" value="Sign up" />
        </form>
        {% endif %}
	</body>
{% endblock %} 
